<div class="main__container">
  <img src="../img/header_picture.jpg" alt="" class="main__image">
<div class="info-container">
  <div class="info">
    <div class="info__title">РЕГИСТРАЦИЯ СЕРТИФИКАТА</div>
    <div class="info__text">Для регистрации сертификата - введите код сертификата
      и ваши контактные данные.</div>

    <form action="#" class="info__form">
      <input type="text" name="code" class="info__input" placeholder="Код сертификата">
      <input type="text" name="name" class="info__input" placeholder="Ваше имя">
      <input type="text" name="phone" class="info__input" placeholder="Ваш телефон">
      <input type="text" name="email" class="info__input" placeholder="Ваш e-mail">
      <button type="submit" class="info__btn btn-reset">Отправить заявку на участие в акции</button>
    </form>

    <div class="info__form-text">Отправляя форму Вы соглашаетесь с <a class="info__form-link" href="#">Политикой обработки данных</a></div>
  </div>
</div>
  <div class="faq">
    <details class="faq__item">
      <summary class="faq__title">
        <div class="faq__title-text">Что дает сертификат?</div>
        <div class="faq__arrow">
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </div>
      </summary>
      <p class="faq__text">Сертификат даёт право участвовать в акции «Дом в подарок». Номер сертификата является вашим уникальным номером участника. Не забудьте его зарегистрировать на нашем сайте и взять с собой на розыгрыш главного приза 16 декабря 2018 года. Владелец сертификата может принимать участие в розыгрыше только при наличии акта приёмки-передачи строения, подтверждающего окончание строительства.
      </p>
    </details>
    <details class="faq__item">
      <summary class="faq__title">
        <div class="faq__title-text">Где получить сертификат?</div>
        <div class="faq__arrow">
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </div>
      </summary>
      <p class="faq__text">Где получить сертификат?
        Сертификат выдаётся всем клиента строительной компании «Теремъ» во время подписания договора на строительство дома или бани на территории выставочного комплекса компании по адресу: г. Москва, ул. Зеленодольская, вл. 42. Сертификаты выдаются в период с 6 по 19 сентября 2018 года включительно.</p>
    </details>

  </div>

  <div class="form">
    <div class="form__title">Если остались вопросы по участию в акции</div>
    <p class="form__text">Оставьте телефонный номер и наши специалисты свяжутся с Вами через 30 секунд.</p>

    <form action="#" class="form__consult">
      <div class="form__container">
      <input type="text" name="name" class="form__input-name" placeholder="Ваше имя">
      <input type="text" name="phone" class="form__input-phone" placeholder="+7 (___) ___-__-__">
      <button type="submit" class="form__btn btn-reset">Заявка на консультацию</button>
    </div>
      <label class="custom-checkbox">
        <input type="checkbox" class="custom-checkbox__field">
        <span class="custom-checkbox__content">Я принимаю условия Политики обработки данных</span>
      </label>
    </form>
  </div>




</div>
